.wrapper {
    background-color: rgb(1, 170, 192);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    .login-title {
        font-size: 3rem;
        letter-spacing: 0.1rem;
        color: #fff;
        margin-bottom: 1.6rem;
        text-align: center;
        display: block;
    }
    .item {
        background-color: #fff;
        border-radius: 0.8rem;
        box-shadow: 0 0 0.6rem #222;
        display: flex;
        justify-content: center;
        overflow: hidden;
        .item-left {
            padding: 1.6rem 2.8rem;
            max-width: 60%;
            width: 100%;
            .item-left__title {
                font-size: 4.2rem;
                font-family: 'Macondo', cursive;
                text-align: center;
                color: #ff6600;
                text-transform: uppercase;
                font-style: italic;
                text-shadow: 0.2rem 0.2rem 0.4rem #333;
            }
            .item-left__h4 {
                font-size: 2.2rem;
                color: #222;
                font-weight: 500;
                margin-top: 0.8rem;
                margin-bottom: 1.8rem;
            }
            .item-left__group {
                margin-bottom: 1.8rem;
                label {
                    display: block;
                    margin-bottom: 0.8rem;
                    color: #222;
                    font-size: 1.6rem;
                }
                input {
                    display: block;
                    border: 0.1rem solid rgb(143, 141, 141);
                    padding: 0.8rem 1.6rem;
                    border-radius: 0.4rem;
                    font-size: 1.6rem;
                    color: #222;
                    width: 100%;
                    outline: none;
                }
            }
            .item-left__ghinho {
                display: flex;
                margin-bottom: 2.2rem;
                align-items: center;
                label {
                    font-size: 1.6rem;
                    color: #222;
                    display: block;
                    margin-left: 0.8rem;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
            .item-left__text {
                font-size: 1.6rem;
                text-align: center;
                color: #222;
                margin: 0.8rem 0 1.6rem 0;
                span {
                    font-family: 'Macondo', cursive;
                    text-align: center;
                    color: #ff6600;
                    text-transform: uppercase;
                    font-style: italic;
                    font-weight: 600;
                }
            }
        }
        .item-right {
            max-width: 40%;
            width: 100%;
            position: relative;
            .item-right--khoi{
                position: absolute;
                top:1.2rem;
                left: 0;
                padding: 1.2rem;
                .item-right--khoi__title{
                    font-size: 3.6rem;
                    font-family: 'Macondo', cursive;
                    color: #fff;
                    text-shadow: .2rem .2rem #222;
                }
                .item-right--khoi__text{
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: #fff;
                    text-align: center;
                    letter-spacing: .2rem;
                    text-shadow: .2rem .2rem .4rem #222;
                }
            }
            .item-right--img{
                line-height: 0;
                height: 100%;
                img{
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                }
            }
        }
    }
}
