.wrapper {
    .title {
        font-size: 2.2rem;
        color: #222;
        text-transform: uppercase;
        font-weight: 600;
    }
    .text {
        font-size: 1.8rem;
        color: #222;
        margin-top: 8px;
    }
}
