.modalBackground {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(200, 200, 200, 0.4);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    min-width: 450px;
    max-width: 500px;
    width: 100%;
    min-height: 10px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: rgb(246, 202, 119);
    position: relative;
    .title {
        font-size: 2.4rem;
        text-align: center;
        display: block;
        color: #222;
        margin-bottom: 16px;
    }
    .body {
        .group-form {
            // display: flex;
            // align-items: center;
            margin-bottom: 16px;
            // justify-content: center;
            label {
                font-size: 1.6rem;
                color: #222;
                margin-right: 12px;
                margin-bottom: 8px;
                display: block;
                font-weight: 600;
                span{
                    color: rgb(223, 21, 21);
                }
            }
            select,
            input {
                padding: 8px 16px;
                font-size: 1.6rem;
                border: 1px solid #ccc;
                outline: none;
                width: 100%;
                color: #222;

            }
        }
    }
    .icon-close {
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 2.8rem;
        color: #222;
        transition: all 0.2s ease-in;
        padding: 8px;
        &:hover {
            color: rgb(181, 7, 7);
        }
    }
    .footer {
        flex: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .item-left__error {
        color: rgb(223, 21, 21);
        margin-bottom: 0.8rem;
        margin-top: -0.8rem;
        display: block;
        font-weight: 500;
        transition: all 0.25s ease-in;
    }
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

#cancelBtn {
    background-color: crimson;
}
